{% extends  'base.html' %}
{% block main %}
<div class = "table_header"><h3>Your Search Result</h3></div>  
    <table border="1">
        <thead>
            <tr>
                <th>Package ID</th>
                <th>Destination-X</th>
                <th>Destination-Y</th>
                <th>Truck ID</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
          {%for package in packages %}
            <tr>
                <td>{{ package.package_id}}</td>
                <td>{{ package.x }}</td>
                <td>{{ package.y }}</td>
                <td>{{ package.truck_id }}</td>
                <td>{{package.status}}</td>
                <td><a href = {%url 'package' id=package.package_id %}>View Detail</a></td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    {% endblock %}