<!doctype  html>
<html  lang="en">
<head>
<link  rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"  crossorigin="anonymous">
<title>Welcome</title>
</head>
<body>
        <h3>{{package.x}}</h3><br>
        <h3>{{package.y}}</h3><br>
        <h3>{{package.status}}</h3><br><br>
        {%for product in products %}
        <div  class="container">
          {{product.product_id}}<br>
          {{product.description}}<br>
          {{product.count}}<br>
        </div>
        {% endfor %}
</body>
</html>