{% extends 'base.html' %}
{% load crispy_forms_tags %}         
{% block content %}
<style>
.register_form{
	width:300px;
	height:600px;
	position: fixed;
	top: 25%;
	left: 50%;
	margin-top: -120px;
	margin-left: -180px;
}
</style>
<!--Register--> 
<div class="register_form">
	<h3>Register</h3>
	<form method="POST">
		{% csrf_token %}
		{{ register_form|crispy }}                    
		<button class="btn btn-primary" type="submit">Register</button>
	</form>
	<p class="text-center">Have an account already? <a href="/accounts/login">login</a> instead.</p>
</div>

{% endblock %}